/* TO-DO: Add media queries for smaller devices */

@font-face {
    font-family: "Warhammer";
    src: url('../FONT/Warhammer.woff') format('woff');
}

body {
    font-family: "Warhammer", sans-serif;
    background-image: url(../IMG/background.webp);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 5rem 10rem 5rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: -3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

label {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.parchment {
    position: absolute;
    z-index: -1;
    width: 50rem;
    height: 55rem;
    margin-left: 29%;
}

.seal {
    position: absolute;
    z-index: -1;
    width: 12rem;
    height: 20rem;
    margin-top: 39rem;
    margin-left: 70rem;
}

input {
    font-family: "Warhammer", sans-serif;
    font-size: 1rem;
    background-image: url("../IMG/input.webp");
    border-radius: 0.4rem;
    border-color: black;
    margin-bottom: 1rem;
}

#dice {
    margin-left: 1rem;
}

#sides {
    margin-left: 0.6rem;
}

#succes {
    margin-left: 2.85rem;
}

.submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#submit, #reroll {
    background-image: url("../IMG/input.webp");
    font-size: 1.5rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: black 0.1rem solid;
}

#submit:hover, #reroll:hover {
    background-image: url("../IMG/input.webp");
    color: white;
    font-size: 1.5rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: white 0.1rem solid;
}

.radioButtons {
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
}

input[type="radio"] + label:hover {
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: underline;
}

input[type="radio"]:checked + label {
    text-decoration: underline;
    color: white;
}

.errorMessage {
    color: red;
    font-size: 1.5rem;
    margin-top: 1rem;
}

