@font-face {
    font-family: "Warhammer";
    src: url('../FONT/Warhammer.woff') format('woff');
}

body {
    font-family: "Warhammer", sans-serif;
    background-image: url(../IMG/background.webp);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 5rem 10rem 5rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

label {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.parchment {
    position: absolute;
    z-index: -1;
    width: 50rem;
    height: 55rem;
    margin-left: 29%;
}

.seal {
    position: absolute;
    z-index: -1;
    width: 12rem;
    height: 20rem;
    margin-top: 39rem;
    margin-left: 70rem;
}

input {
    font-family: "Warhammer", sans-serif;
    font-size: 1rem;
    background-image: url("../IMG/input.webp");
    border-radius: 0.4rem;
    border-color: black;
    margin-bottom: 1rem;
}

#dice {
    margin-left: 1rem;
}

#sides {
    margin-left: 0.6rem;
}

#succes {
    margin-left: 2.7rem;
}

.submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#submit, #reroll {
    background-image: url("../IMG/input.webp");
    font-size: 1.5rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: black 0.1rem solid;
}

#submit:hover, #reroll:hover {
    background-image: url("../IMG/input.webp");
    color: white;
    font-size: 1.5rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: white 0.1rem solid;
}

.radioButtons {
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
}

input[type="radio"] + label:hover {
    padding: 5px 10px;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: underline;
}

input[type="radio"]:checked + label {
    text-decoration: underline;
    color: white;
}

.errorMessage {
    color: red;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.results {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.results p {
    font-size: 1.25rem;
}

@media only screen and (max-width: 800px) {
    body {
        zoom: 0.5;
    }

    .parchment {
        margin-left: 5%;
        width: 42rem;
        height: 75rem;
    }

    .seal {
        margin-top: 60rem;
        margin-left: 32rem;
    }

    #succes {
        margin-left: 3.3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    label {
        font-size: 2rem;
    }

    .results p {
        font-size: 1.75rem;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    body {
        zoom: 0.65;
    }

    .parchment {
        margin-left: 26%;
    }

    .seal {
        margin-left: 60rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1824px) {
    body {
        zoom: 0.75;
    }

    .parchment {
        margin-left: 28%;
    }

    .seal {
        margin-left: 70rem;
    }
}

@media only screen and (min-width: 1825px) and (max-width: 2560px) {
    body {
        zoom: 1;
    }

    .parchment {
        margin-left: 30%;
    }

    .seal {
        margin-left: 70rem;
    }
}

@media only screen and (min-width: 2560px) {
    body {
        zoom: 1.5;
    }

    .parchment {
        margin-left: 28%;
    }

    .seal {
        margin-left: 65rem;
    }
}
